body {
  background: url(../img/bg.webp) no-repeat;
  background-size: cover;
  margin: 0;
  font-family: sans-serif;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.7);
}
h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 48px;
}
h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 28px;
}
caddy {
  margin-bottom: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.style1 {



  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
  overflow: hidden;
  transform: skew(5deg);
}
.container .card {
  flex: 1;
  transition: all 1s ease-in-out;
  height: 60vmin;
  position: relative;
}
.container .card .card__head {
  color: white;
  background: rgba(0, 0, 0, 0.85);
  padding: 0.5em;
  transform: rotate(-90deg);
  transform-origin: 0% 0%;
  transition: all 0.1s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1.2em;
  white-space: nowrap;
  font-family: 'Jockey One', sans-serif;
}
.container .card:hover {
  flex-grow: 10;
}
.container .card:hover img {
  filter: grayscale(0);
}
.container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2em;
  transform: rotate(0deg) skew(-5deg);
}
.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease-in-out;
  filter: grayscale(100%);
}
.container .card:not(:nth-child(5)) {
  margin-right: 1em;
}